<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>DUCN Shanghai All Employee Meeting</title>
  <link rel="shortcut icon" href=<%= image_path('Ericsson.ico') %>>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application"  %>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
